<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>148228528922-s50jd56tahckl7m5jqvevrdbu8ib0j9u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.148228528922-s50jd56tahckl7m5jqvevrdbu8ib0j9u</string>
	<key>API_KEY</key>
	<string>AIzaSyBV95dNPWRfFgJHtYwDSUHxfIEv3iDH6Fs</string>
	<key>GCM_SENDER_ID</key>
	<string>148228528922</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.saradarwish.AUB-App</string>
	<key>PROJECT_ID</key>
	<string>aub-app</string>
	<key>STORAGE_BUCKET</key>
	<string>aub-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:148228528922:ios:2d7149b4d0473551d96aa3</string>
</dict>
</plist>